---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* WHO */

  Adam DJ Brett
  Website: adamdjbrett.com

/* THANKS */
The original creators of Jekyll ED theme
https://minicomp.github.io/ed/

  Username: Creativas.dev
  Website: https://creativas.dev

  Eleventy Creator: Zachleat
  Twitter: @zachleat


/* Credits */

  Static Site Generator: Eleventy
  Website: https://11ty.dev

Original Jekyll Theme: ED Team

  Susanna Allés Torrent
  Hyper philologist
  http://susannalles.github.io/


  Terry Catapano
  Metadata ninja
  https://github.com/tcatapano

  Alex Gil
  Resident minimalist
  http://www.elotroalex.com/


  Johann Gillium
  Search master
  https://github.com/JohannGillium



/* SITE */

	Last update: {{ page.date }}
	Language: English
  Generator: Eleventy
  Theme: Front Cover  Theme
  Fonts: Font-Awesome
	Doctype: HTML5
	IDE: Terminal, VS Code
