<aside class="sidebar" id="sidebar" aria-hidden="true">
<div class="sidebar-item">
<p>{{metadata.description}}</p>
</div>
{% include "partials/nav.njk" %}
{% include "partials/sidebar.njk" %}
</aside>
