<header class="masthead">
<div class="container">
<h3 class="masthead-title">
<a href="{{metadata.url}}" title="{{metadata.title}}">{{metadata.title}}</a>
<br><small>{{metadata.subtitle}}</small>
</h3>
</header>
