<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
{% include "partials/aside _narrative.njk" %}
<div class="wrap">
<button class="sidebar-toggle"
aria-label="Open navigation menu"
aria-expanded="false"
aria-controls="sidebar">
</button>
{% include "partials/header.njk" %}
</div>
