<div class="sidebar-item">
<p>
{{metadata.footer.copyrights.text1}} <a href="{{metadata.footer.copyrights.text2_link}}">{{metadata.footer.copyrights.text2}}</a> {{metadata.footer.copyrights.text3}} <a href="{{metadata.footer.copyrights.text4_link}}">{{metadata.footer.copyrights.text4}}</a>. 
{{metadata.footer.copyrights.text5}}
</p>
</div>
